# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/