from pathlib import Path
from email.mime.text import MIMEText
import smtplib

# Doc CSS
css = Path("email_style.css").read_text(
    encoding="utf-8"
)

# Doc HTML
html = Path("email_template.html").read_text(
    encoding="utf-8"
)

# Chen CSS
html = html.replace("{{CSS}}", css)

# Chen du lieu
html = html.replace("{{RULE_NAME}}", "SSH Failed Login")
html = html.replace("{{SOURCE_IP}}", "10.10.10.5")
html = html.replace("{{USERNAME}}", "root")
html = html.replace("{{COUNT}}", "15")
html = html.replace("{{TIME}}", "2026-06-18 11:00:00")

msg = MIMEText(html, "html", "utf-8")

msg["Subject"] = "[SIEM] SSH Failed Login"
msg["From"] = "elk-notification@mk.com.vn"
msg["To"] = "tuanlm@mksmart.com.vn"

server = smtplib.SMTP("smtp-relay.gmail.com", 25)
server.sendmail(
    "elk-notification@mk.com.vn",
    ["tuanlm@mksmart.com.vn"],
    msg.as_string()
)
server.quit()